body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.parallax img {
    width: 100%;
}

.n1 {
    text-align: center;
}

.float-barong {
    float: left; 
    margin-right: 10px; 
    border: solid black 2px; 
    padding: 5px;
}

.tophead, .edu, .proj {
    border-bottom: 3px solid black; 
    text-align: center;
    font-weight: bold;
    border-top: 3px solid black;
}

.profile {
    border-bottom: 3px solid black;
    padding-bottom: 25px;
}

li {
    list-style-type: initial;
}

.schools {
    font-size: larger;
}

.card-image img {
    opacity: 0.65 !important;
    background-color: #212121;
}

.card-title {
    font-weight: 600 !important;
    padding-bottom: 0 !important;
    
}

.card-content {
    text-align: justify;
}

.fa {
    padding: 20px;
    font-size: 20px !important;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-github {
    background: #212121;
    color: white;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}