body {
    background-color: #e0e0e0;
}

.parallax img {
    width: 100%;
}

.n1 {
    text-align: center;
}

.float-barong {
    float: left; 
    margin-right: 10px; 
    border: solid black 2px; 
    padding: 5px;
}
