@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}

::selection{
  color: #fff;
  background: #207893;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #207893;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #05BFDB;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}


.Home {
  width: 100%;
  height: 100vh;
  background-color: #00FFCA;
}

.HomeContent {
  display: block;
}

.About {
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
	margin:0;
	font-family: 'Roboto Condensed', sans-serif;
  margin-top: -50px;
  background-color: #05BFDB;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 100px;
}

/* .About h1 {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
} */

/* .About h1 span{
  color: #00FFCA;
} */

.About h1{
	 	  
	color:#333;
	font-weight:700;
	padding-top:50px;	 
  margin-top: 0;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:4px;
	line-height:23px;
}

.About span{
  color: #fff;
}

/* --- Start progress bar --- */

.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:1;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #fff;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
       	 
	background: linear-gradient(to right, #00FFCA 0%,#088395 100%); 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:33%;
	text-align:center;
	color:#fff;
  /* font color */
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#fff;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:49px;
	/* z-index:1; */
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:"";
	width:9%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
	position:absolute;
	/* z-index:2; */
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content span {
	font-size:16px;
	line-height:1.8em;
	color:#aaa;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
  color:#777;
}

.creative .bullet{
  float:left;
  padding-left: 5%;
}

.inline-icon {
  vertical-align:middle;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}


.Projects {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -50px;
  background-color: #088395;
}




.menu-button {
    position:fixed;
    top: 8px;
    right: 16px;
}

.waterContent {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waterContent1 {
  position: relative;

}

.waterContent1 h2 {
  top: 30vh;
  position: absolute;
  font-size: 6vw;
  font-weight: 600;
  color: #fff;
  transform: translate(-50%,-50%);
}

.waterContent1 h2:nth-child(1) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
  0%,100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

.waterContent1 h2:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

/*  */
.waterContent2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waterContent3 {
  position: relative;

}

.waterContent3 h2 {
  top: 45vh;
  position: absolute;
  font-size: 6vw;
  font-weight: 600;
  color: #fff;
  transform: translate(-50%,-50%);
}

.waterContent3 h2:nth-child(1) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
  0%,100% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
}

.waterContent3 h2:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}



.slideContent {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


.slideText {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  color: #ffffff;

  align-items: center;
  justify-content: center;
  top: 65vh;
}

.slideText span{
  font-size: 4vw;
  font-weight: 600;
}



.sidenav {
  background-color: #EEEEEE;
}


/* FA ICONS ON FOOTER */
.fa {
  padding: 20px;
  font-size: 20px !important;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-github {
  background: #212121;
  color: white;
}







header, main {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    .waterContent1 h2{
      font-size: 10vh;
    }
    .waterContent3 h2{
      font-size: 10vh;  
    }

    .About h1{
      font-size: 7vh;
    }

    #progress-bar-container li{
      font-size: 10px; 
    }
  
    .slideText span {
      font-size: 5vh;
    }
    header, main, footer {
      padding-left: 0;
    }
  }

  